<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
<div class="container text-center">
<h1>Your password is:</h1>
<div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
</div>
<figure class="highlight">
<h1 class="alert alert-success">{{ password }}</h1>
</figure>
<a href="{% url 'home' %}" class="btn btn-warning">Home</a>
</div>